@import "tailwindcss";


:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #070C1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./assets/banner-background.svg');
  background-size: cover;
  background-position: top;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  position: relative;
}

#app {
  text-align: center;
}

button {
  font-weight: bold;
  padding:  7px 14px 7px 14px;
  height: fit-content;
  border: 0;
  font-size: medium;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .hover-items {
    @apply hover:border-b-[3px] hover:border-[#E0FE08] hover:mb-[-2px] py-2 cursor-pointer;
  }

  .btn-y {
    @apply bg-[#e0fe08] text-[#090F20] cursor-pointer;
  }

  .btn-d {
    @apply bg-[#090F20] text-[#e0fe08] cursor-pointer;
  }

  .section-normal {
    @apply w-full flex flex-col text-left gap-3;
  }

  .section-title > h1 {
    @apply text-5xl text-yellowMana font-bold max-sm:text-3xl;
  }

  .section-title {
    @apply flex flex-row justify-between;
  }

  .footer-terms {
    @apply bg-yellowMana flex flex-row justify-between text-darkMana text-xs max-sm:text-[10px] max-sm:px-1 py-2 px-5;
  }

  .terms {
    @apply hover:border-b hover:mb-[-2px] hover:cursor-pointer;
  }
}

@theme {
  --color-yellowMana: #e0fe08;
  --color-darkMana: #090F20;
  --color-purpleMana: #20113C;
}